<div class="header__wrapper">
    <div class="login__wrapper">
        <div class="user__icon">
            <img src="/imagens/icons/person.png" alt="User Icon" class="icon">
        </div>
        <div class="username__placeholder">
            {{#if user}}{{user.username}}{{/if}}
        </div>
    </div>
</div>