<div class="header__wrapper">
    <div class="login__wrapper">
        <div class="user__icon">
            <i class="fa fa-user no-margin"></i>
        </div>
        <div class="username__placeholder">
            {{#if user}}{{user.username}}{{/if}}
        </div>
    </div>
</div>