{{#if success}}
<div class="success_msg">
    {{success}}
    <a href="#" class="msg_close">x</a>
</div>
{{/if}}

{{#if error}}
<div class="error_msg">
    {{{error}}}
    <a href="#" class="msg_close">x</a>
</div>
{{/if}}

{{#if info}}
<div class="info_msg">
    {{info}}
    <a href="#" class="msg_close">x</a>
</div>
{{/if}}

{{#if warning}}
<div class="warning_msg">
    {{warning}}
    <a href="#" class="msg_close">x</a>
</div>
{{/if}}