<img src="/imagens/malha-logo.png" alt="Logotipo Malha" class="logo">
<div class="navigation">
    <ul>
        <li><a href="/equipas">Equipas</a></li>
        <li><a href="/torneio">Torneio</a></li>
        <li><a href="/listagens">Listagens</a></li>
        {{#ifCond user.status '==' 1}}
            <li><a href="/admin">Administração</a>
                <ul>
                    <li><a href="/admin/utilizadores">Utilizadores</a></li>
                    <li><a href="/admin/escaloes">Escalões</a></li>
                    <li><a href="/admin/torneios">Torneios</a></li>
                    <li><a href="/admin/localidades">Localidades</a></li>
                </ul>
            </li>
        {{/ifCond}}
    </ul>
</div>