<div class="navigation__wrapper">
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/listaequipas">Lista Equipas</a></li>
        <li><a href="/admin">Administração</a>
            <ul>
                <li><a href="/admin/registo">Registo de Utilizadores</a></li>
                <li><a href="/admin/lista">Lista de Utilizadores</a></li>
            </ul>
        </li>
    </ul>
</div>