<div class="user__wrapper">
    <div class="user">
        {{#if user}}<i class="fa fa-user-circle"></i>{{user.username}}{{/if}}
    </div>
    <div class="user_nav">
        <ul>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
</div>