<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Malha</title>
</head>
<body>
    <h1>Jogo da Malha</h1>

    <!-- Navigation -->
    {{> navigation}}

    <!-- Page Content -->
    {{{body}}}
    <!-- ./Page Content -->

    <!-- Footer -->
    {{> footer}}
</body>
</html>