{{> messages}}
{{#if erros}}
    {{#each erros}}
        <div class="warning_msg">
            {{err_msg}}
        </div>
    {{/each}}
{{/if}}
<form action="/admin/adicionarTorneio" method="post">
    <label for="designacao">Designação</label>
    <input type="text" name="designacao" required><br>
    <label for="localidade">Localidade</label>
    <input type="text" name="localidade" required><br>
    <label for="ano">Ano</label>
    <input type="text" name="ano" required><br>
    <input type="submit" value="Adicionar">
</form>