{{> messages}}
<div class="buttons_bar">
    <div class="select_escalao">
    {{#sexoSelect sexo}}
        <a href="/admin/escaloes" class="option_btn"><i class="fa fa-users"></i>Todos</a>
        <a href="/admin/escaloes/M" class="option_btn"><i class="fa fa-male"></i>Masculino</a>
        <a href="/admin/escaloes/F" class="option_btn"><i class="fa fa-female"></i>Feminino</a>
    {{/sexoSelect }}
    </div>
    <div class="action_btns">
        <a href="/admin/adicionarEscalao" class="btn primary_btn"><i class="fa fa-plus"></i>Adicionar Escalão</a>
    </div>
</div>
<table class="listTable">
    <thead>
        <tr>
            <th>Escalão</th>
            <th>Sexo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each escaloes}}
        <tr>
            <td>{{designacao}}</td>
            <td class="w30 table_cell_center">{{#sexo sexo}}{{/sexo}}</td>
            <td class="w10"><a href="/admin/editarEscalao/{{escalao_id}}" class="btn edit_btn"><i class="fa fa-edit"></i>Editar</a></td>
            <td class="w10">
                <form action="/admin/escaloes/{{escalao_id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn delete_btn"><i class="fa fa-trash"></i>Apagar</button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>