<form action="/registo" method="post">
<label for="username">Username</label>
<input type="text" name="username"><br>
<label for="password">Password</label>
<input type="password" name="password"><br>
<label for="status">Status</label>
<input type="text" name="status"><br>
<input type="submit" value="Registar">
</form>