@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: normal;
}

.success_msg,
.error_msg,
.info_msg,
.warning_msg {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.success_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.error_msg {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.info_msg {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

.warning_msg {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    line-height: 1.4;
    font-size: 14px;
}

.primary_btn {
    color: #fff;
    background-color: #337ab7;
    border: solid 1px #2e6da4;
}

.primary_btn:hover {
    border: solid 1px #204d74;
}

.edit_btn {
    color: #fff;
    background-color: #5bc0de;
    border: solid 1px #46b8da;
}

.edit_btn:hover {
    background-color: #31b0d5;
    border: solid 1px #269abc;
}

.delete_btn {
    color: #fff;
    background-color: #d9534f;
    border: solid 1px #d43f3a;
}

.delete_btn:hover {
    background-color: #c9302c;
    border: solid 1px #ac2925;
}