i {
    margin-right: 10px;
}

.no-margin {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.navigation__wrapper {
    width: 275px;
    background-color: #455cc7;
}

.logo{
    width: 65%;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

.content__wrapper {
    flex: 1;
}

.body__wrapper {
    margin: 50px 100px;
    padding: 60px 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(69, 92, 199, .2);
}

.navigation__wrapper ul {
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.navigation__wrapper ul li {
    list-style: none;
    padding: 18px 30px;
}

.navigation__wrapper ul li a {
    text-decoration: none;
    color: #aab7f3;
}

.navigation__wrapper ul li:hover {
    background-color: #6174cf;
}

.navigation__wrapper ul li:hover a{
    color: #ffffff;
}

.header__wrapper {
    height: 70px;
    border-bottom: solid 2px #edeef4;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login__wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 16px rgba(69, 92, 199, .2);
}

.user__icon {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #455cc7;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.username__placeholder {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.listTable {
    width: 100%;
    border-collapse: collapse;
}

.listTable th {
    background-color: #455cc7;
    color: #ffffff;
    letter-spacing: .8px;
}

.listTable thead tr {
    line-height: 2.5;
}

.listTable tbody tr {
    border-bottom: solid 1px #edeef4;
    line-height: 3.2;
}

.listTable tbody tr:hover {
    background-color: #f4f5f9;
}

.listTable tbody tr td{
    padding-left: 20px;
    padding-right: 20px;
}

.w5 { width: 5%; }

.w10 { width: 10%; }

.w20 { width: 20%; }

.w30 { width: 30%; }

.table_cell_center {
    text-align: center;
}

.a-right {
    margin-left: auto;
}