body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #F8F9FF;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.navigation__wrapper {
    width: 275px;
    background-color: #455cc7;
}

.content__wrapper {
    flex: 1;
}

.navigation__wrapper ul {
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.navigation__wrapper ul li {
    list-style: none;
    padding: 18px 30px;
}

.navigation__wrapper ul li a {
    text-decoration: none;
    color: #aab7f3;
}

.navigation__wrapper ul li:hover {
    background-color: #6174cf;
}

.navigation__wrapper ul li:hover a{
    color: #ffffff;
}

.header__wrapper {
    height: 50px;
    border-bottom: solid 2px #edeef4;
}